@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
:root {
    /* project Colors */
    --link-c: #474d75;
    --dark-blue: #3a50f9;
    --blue-sky: #3fb7fe;
    --green: #3dd2ae;
    /*old colors*/
    --main-color: #333;
    --yellow: #ffa731;
    --orange: #fba61b;
    --pink: #ee4dc6;
    --soft-pink: #e1b7bf;
    --dark-pink: #c262af;
    --grey: #d4c7e8;
    --red: #ef4366;
    --soft-red:#ffbea7;
    --violet: #6e00fd;
    --black: #111;
    --text-c: #555c66;
    --bg-footer: #333;
    --light-text: #808080;
    --main-bg: #f5f7fa;/* icon bg */
    --shadow: rgb(0 0 0 / 20%);
    --input-border: #d9d9d9;
    --link-bg: #b9c1cc;
    --dark-grayish: #414c62;
    --olive: #c4b35d;
    --grey-80: #808080;
}
/* global rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
ul {
    margin: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
@media (min-width: 922px) {
    .container {
        margin-left: 100px !important;
        margin-right: 100px !important;
    }
}
.container {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
}
/* start header */
header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    height: 74px;
}
header form input {
    border: 1px solid white;
}
header .search input::placeholder {
    color: var(--input-border);
}
header .search i {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}
@media (max-width: 767px) {
    header nav {
        display: none;
        position: absolute;
        top: 74px;
        left: 0;
        width: 100%;
        background-color: var(--bg-footer);
        padding: 30px;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        flex-basis: 100%;
    }
    header nav ul li a {
        color: white !important;
    }
    header nav .close {
        display: block !important;
        top: 20px;
        right: 20px;
    }
}

header nav ul li a {
    color: var(--footer-bg);
}
header nav ul li a:hover {
    color: var(--light-text);
}
header nav .close {
    color: white;
    display: none;
}
@media (max-width: 767px) {
    header .open {
        display: block !important;
    }
}
header .open {
    display: none;
}
/* end header */

/* start landing*/
.landing {
    background-image: url("../images/landing.jpg");
}
@media (min-width: 768px) {
    /* .landing {
        height: calc(100vh - 74px);
    } */
    .landing .container > div {
        width: calc(50% - 15px);
    }
}
.landing .container h1 {
    max-width: 350px;
}
.landing .container p {
    max-width: 350px;
}
.landing .container a:hover {
    background-color: white;
    color: var(--violet);
}
/* end landing *

/* prices */
@media (min-width: 768px) {
    .prices .container .small-group > div {
        width: calc(50% - 15px);
    }
}
.prices .container .small-group .info a:hover {
    background-color: white;
    color: var(--violet);
}
@media (min-width: 768px) {
    .prices .container .classes > div {
        width: calc(50% - 15px);
    }
}
@media (max-width: 767px) {
    .prices .container .classes .info {
        order: 2;
    }
    .prices .container .classes .image {
        order: 1;
    }
}
.prices .container .classes .info a:hover {
    background-color: white;
    color: var(--violet);
}
/* prices */

/* learning */
.learning .container p {
    max-width: 900px;
}
@media (min-width: 768px) {
    .learning .container form {
        gap: 0 !important;
    }
    .learning .container form .email {
        width: 400px;
    }
}
.learning .container form .submit:hover {
    background-color: white;
    color: var(--red);
}
/* learning */

/* classes-camps */
.classes-camps .container > p {
    max-width: 800px;
}
/* classes-camps */

/* online-classes */
.online-classes .container h2 {
    max-width: 1000px;
}
.online-classes .subjects .subject a {
    transition: .3s;
}
.online-classes .subjects .subject a:hover {
    border-bottom-color: var(--link-bg);
    color: var(--link-bg);
}
/* online-classes */

/* about-us */
.about-us .container {
    top: -100px;
}
@media (min-width: 768px) {
    .about-us .container .info {
        width: 40%;
    }
    .about-us .container .info {
        width: 60%;
    }
}
.about-us .container .info a:hover {
    background-color: white;
    color: var(--violet);
}
/* about-us */

/* contact */
.contact .container > p {
    max-width: 500px;
}
@media (min-width: 768px) {
    .contact .container form {
        gap: 0 !important;
    }
    .contact .container form .email {
        width: 400px;
    }
}
.contact .container form .email:focus {
    border-color: #808080;
}
.contact .container form .email:focus::placeholder {
   opacity: 0;
}
.contact .container form .submit:hover {
    background-color: white;
    color: var(--red);
}
/* contact */

/* start footer */
footer .text {
    max-width: 500px;
}
footer a:hover {
    color: var(--dark-blue);
    text-decoration: underline;
}
/* end footer */